{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    {{ 'community.create.caption.add_community'|trans }}
{% endblock %}

<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans }}" />
    </div>
</form>
