{% extends "NetworkUserBundle:EditProfile:edit.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/networkweb/css/jquery.kladr.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/networkweb/js/jquery.kladr.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/address_autocompletion.js') }}"></script>
    <script src="{{ asset('bundles/networkuser/js/add_address_phone.js') }}"></script> 
{% endblock %}

{% block title %}
    {{ 'form.contact.name'|trans }}
{% endblock %}

{% block edit_content %}
    {{ form_start(form, {'attr' :{'class' : 'centered-form'} }) }}
        {{ form_errors(form) }}
        <div>
            {{ form_errors(form.skype) }}
            {{ form_label(form.skype, 'form.contact.skype'|trans) }}{{ form_widget(form.skype) }}
        </div>
        <div>
            {{ form_errors(form.additionalEmail) }}
            {{ form_label(form.additionalEmail, 'form.contact.additionalEmail'|trans) }}{{ form_widget(form.additionalEmail) }}
        </div>
        <div>
            {{ form_errors(form.phone) }}
            <div id="phone-fields-list" data-prototype="{{ form_widget(form.phone.vars.prototype)|trans }}">
                {% for phoneField in form.phone %}
                        {{ form_errors(phoneField) }}
                        <script type="text/javascript">
                             addPhone('{{ form_widget(phoneField) }}', "{{ 'form.contact.phone.delete.submit'|trans }}");
                        </script>
                {% endfor %}
            </div>
            <button deleteBtnName="{{ 'form.contact.phone.delete.submit'|trans }}" class="btn btn-green btn-small" type="button" id="add-another-phone">{{ 'form.contact.phone.add.submit'|trans }}</button>
        </div>
        <div class="centered-form">
            {{ form_label(form.address, 'form.contact.address.name'|trans) }}
            {{ form_errors(form.address) }}
            <div id="address-fields-list" data-prototype="<div>{{ form_label(form.address.vars.prototype.country)|e }}{{ form_widget(form.address.vars.prototype.country)|e }}</div>
                 <div>{{ form_label(form.address.vars.prototype.city)|e }}{{ form_widget(form.address.vars.prototype.city)|e }}</div>
                 <div>{{ form_label(form.address.vars.prototype.street)|e }}{{ form_widget(form.address.vars.prototype.street)|e }}</div>
                 <div>{{ form_label(form.address.vars.prototype.house)|e }}{{ form_widget(form.address.vars.prototype.house)|e }}</div>">
                {% for address in form.address %}
                    <div class="input-adress-form">
                        {{ form_errors(address) }}
                        <script type="text/javascript">
                            var str = '';
                        </script>
                        {% for i in address %}
                            <script type="text/javascript">
                                str += '<div>{{ form_label(i) }}{{ form_widget(i) }}</div>';
                            </script>
                        {% endfor %}
                        <script type="text/javascript">
                            addAddress("{{address.vars.value.country}}"
                                     , "{{address.vars.value.city}}"
                                     , "{{address.vars.value.street}}"
                                     , "{{address.vars.value.house}}"
                                     , createDiv(str), "{{ 'form.contact.address.edit.submit'|trans }}", "{{ 'form.contact.address.delete.submit'|trans }}");
                        </script>
                    </div>
                {% endfor %}
            </div>
            <button saveBtnName="{{ 'form.contact.address.save.submit'|trans }}" cancelBtnName="{{ 'form.contact.address.cancel.submit'|trans }}" class="btn btn-green btn-small" type="button" id="add-another-address">{{ 'form.contact.address.add.submit'|trans }}</button>
        </div>
        <div class="submit-btn-box">
            <input class="btn btn-blue" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>

        {% do form.address.setRendered %}
        {% do form.phone.setRendered %}

    {{ form_end(form) }}
{% endblock %}
