{% extends "NetworkWebBundle:Default:edit.base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="{{ asset('bundles/networkweb/css/jquery.kladr.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/networkweb/js/jquery.kladr.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/address_autocompletion.js') }}"></script>
    <script src="{{ asset('bundles/networkuser/js/add_address_phone.js') }}"></script> 
{% endblock %}

{% block edit_content %}
    <style type="text/css">
        .blue_button {
            display: inline-block;
        }
    </style>
    {{ form_start(form) }}

        {{ form_errors(form) }}

        <div>
             {{ form_errors(form.skype) }}
            {{ form_label(form.skype) }}
            {{ form_widget(form.skype) }}
        </div>

        <div>
            {{ form_errors(form.additionalEmail) }}
            {{ form_label(form.additionalEmail) }}
            {{ form_widget(form.additionalEmail) }}
        </div>

        <div>
            {{ form_errors(form.phone) }}

            <div id="phone-fields-list" data-prototype="{{ form_widget(form.phone.vars.prototype)|e }}">
                {% for phoneField in form.phone %}
                        {{ form_errors(phoneField) }}
                        <script type="text/javascript">
                             addPhone('{{ form_widget(phoneField) }}');
                        </script> 
                {% endfor %}
            </div>
            <button class="blue_button"  type="button" id="add-another-phone">Add phone</button>
        </div>

        <div>
            {{ form_label(form.address) }}
            {{ form_errors(form.address) }}

            <div id="address-fields-list" data-prototype="<div>{{ form_label(form.address.vars.prototype.country)|e }}<div>{{ form_widget(form.address.vars.prototype.country)|e }}</div></div>
                 <div>{{ form_label(form.address.vars.prototype.city)|e }}<div>{{ form_widget(form.address.vars.prototype.city)|e }}</div></div>
                 <div>{{ form_label(form.address.vars.prototype.street)|e }}<div>{{ form_widget(form.address.vars.prototype.street)|e }}</div></div>
                 <div>{{ form_label(form.address.vars.prototype.house)|e }}<div>{{ form_widget(form.address.vars.prototype.house)|e }}</div></div>">

                {% for address in form.address %}
                    <div>
                        {{ form_errors(address) }}
                        <script type="text/javascript">
                            var str = '';
                        </script>
                        {% for i in address %}
                            <script type="text/javascript">
                                str += '<div>{{ form_label(i) }} \n\
                                    <div> {{ form_widget(i) }}</div></div>';
                            </script>
                        {% endfor %}
                        <script type="text/javascript">
                            addAddress("{{address.vars.value.country}}", "{{address.vars.value.city}}",
                                "{{address.vars.value.street}}", "{{address.vars.value.house}}",
                                createDiv(str));
                        </script>
                    </div>
                {% endfor %}
            </div>
            <button class="blue_button" type="button" id="add-another-address">Add address</button>
        </div>

        <div>
            <input class="blue_button" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>

        {% do form.address.setRendered %}
        {% do form.phone.setRendered %}

    {{ form_end(form) }}
{% endblock %}
