w{% extends "NetworkWebBundle:Default:edit.base.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/datepicker.js') }}"></script>
{% endblock %}

{% block edit_content %}

        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <div>
                <input class="blue_button" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        </form>

{% endblock %}

