{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/networkweb/css/community.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
{% endblock %}
    {{ 'community.edit_community'|trans }}
{% block title %}
    {{ 'layout.profile_edit'|trans }}
{% endblock %}

{% block right_content %}
    <div class="white-box" id="community-box">
        {{ form_start(form, {'attr' :{'class' : 'centered-form'} }) }}
            {{ form_errors(form) }}
            <div>
                {{ form_errors(form.name) }}
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div>
                {{ form_errors(form.subjects) }}
                {{ form_label(form.subjects) }}
                {{ form_widget(form.subjects) }}
            </div>
            <div>
                {{ form_errors(form.type) }}
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
            </div>
            <div>
                {{ form_errors(form.description) }}
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="submit-btn-box">
                <input class="btn btn-blue" type="submit" value="{{ 'community.edit.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
