{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/sonatacore/vendor/select2/select2.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/networkweb/css/horizontal-menu.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/networkweb/js/bluebird.js') }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/datepicker.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/im.js') }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/select2/select2.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/moment.js') }}"></script>

    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#post-text").markItUp(markitup_sonataMarkdownSettings);
        });
    </script>
{% endblock %}
{% block right_content %}
    <style type="text/css">
        #post {
            width : 100%;
        }
        #post-header {
            margin-top: 8px;
            margin-bottom: 4px;
            font-size: small;
        }
        #post-header > #author {
            width: 80%;
            font-weight: bold;
            float: left;
        }
        #post-header > #ts {
            overflow: hidden;
            width: 20%;
        }
        #post-body {
            white-space: pre;
            overflow-wrap: break-word;
        }
        #recipient{
            width:40%;
        }
        #post-text {
            width:100%;
        }
        .unread-post {
            background: #cee2d3;
        }

    </style>

    <div id="post" style="display: none;">
        <div id="post-header" style="display: none;">
            <a id="author"></a>
            <div id="ts"></div>
        </div>
        <div id="post-body" style="display: none; margin-left: 8px; font-size: small;">
        </div>
    </div>
    <div id="thread-preview" style="display: none;">
        <a id="user" href="" style="display:inline-block;"></a>
        <div id="topic" style="display:inline-block;"></div>
        <input id="open-thread" type="button" class="blue_button" value="Show Thread" style="display:inline-block;"/>
        <div id="unreadPosts" style="display:inline-block;"></div>
    </div>


    <div>
        <div id="im-menu" class="horizontal-menu" style="display: none;">
            <ul>
                <li>
                    <a>{{ 'im.actions' | trans }}</a>
                    <ul id="im-menu-actions">
                        <li id="add-user-action">
                            <a>{{ 'conference.add.user' | trans }}</a>
                        </li>
                        <li id="delete-user-action">
                            <a>{{ 'conference.delete.user' | trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <div id="friend-list-wrapper" style="display:none;">
                <input id="friend-list"/>
                <input type="button" class="blue_button" id="friend-list-choose" value="{{ 'IM.add.friend' | trans }}"/>
                <input type="button" class="blue_button" id="friend-list-cancel" value="{{ 'IM.add.friend.cancel' | trans }}"/>
            </div>
            <div id="thread-list-wrapper">
                <h1>Threads</h1>
                <input type="button" class="blue_button" id="compose-post" value="Compose Message"/>
                <div id="thread-list">
                </div>
            </div>

            <div id="posts-wrapper" style="display:none;">
                <div id="posts" style="display: none;">
                </div>

                <div id="post-form" class="markItUp markdown" style="display: none; margin-top: 4px;">
                    <textarea id="post-text" cols="80" rows="10"></textarea>
                    <div id="custom-recipient" style="display: none;">
                        <label for="recipient">{{ 'IM.recipient' | trans}}</label>
                        <input id="recipient" />
                    </div>
                    <div id="conference-topic-div" style="display: none;">
                        <label for="conference-topic">{{ 'conference.topic' | trans }}</label>
                        <input type="text" id="conference-topic"/>
                    </div>
                    <input type="button" class="blue_button" id="send" value="{{ 'IM.send' | trans }}"/>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(function(){
            {% if partnerId is null or partnerName is null %}
                InitIM(null, null);
            {% else %}
                InitIM({{ partnerId }}, "{{ partnerName }}");
            {% endif %}
        })
    </script>
{% endblock %}
