{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/networkweb/js/bluebird.js') }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/datepicker.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/im.js') }}"></script>
{% endblock %}
{% block right_content %}
    <div>
        <div>
            <textarea id="post-text" cols="80" rows="10"></textarea>
            <label for="recipient">Recipient</label>
            <input type="text" id="recipient"/>
            <input type='button' class="blue_button" id="send" value="Send"/>
            <div id="thread-list">

            </div>
            <div id="posts">

            </div>
        </div>
    </div>
{% endblock %}
