{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% block wsMessage %}
    imOnMessage(evt);
{% endblock wsMessage %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sonatacore/vendor/select2/select2.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/networkweb/css/horizontal-menu.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/networkweb/css/im.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/networkweb/js/bluebird.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/datepicker.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/im.js') }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/select2/select2.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/moment.js') }}"></script>

    <link href="http://hayageek.github.io/jQuery-Upload-File/uploadfile.min.css" rel="stylesheet">

    <script src="http://hayageek.github.io/jQuery-Upload-File/jquery.uploadfile.min.js"></script>

    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script type="text/javascript" >
        $(document).ready(function() {
            $("#post-text").markItUp(markitup_sonataMarkdownSettings);
        });
    </script>
{% endblock %}
{% block right_content %}
    <div id="post">
        <div id="post-header" style="display: none;">
            <a id="author"></a>
            <div id="ts"></div>

        </div>
        <div id="post-body" style="display: none;">
        </div>
        <div style="display: block" id="post-files-wrap"></div>
    </div>
    <div id="thread-preview" style="display: none;">
        <a id="user" href="" style="display:inline-block;"></a>
        <div id="topic" style="display:inline-block;"></div>
        <input id="open-thread" type="button" class="btn btn-blue btn-small" value="{{ 'threads.show.submit'|trans }}" style="display:inline-block;"/>
        <div id="unreadPosts" style="display:inline-block;"></div>
    </div>
    <div id="im-box" class="white-box">
        <div id="im-menu" class="horizontal-menu" style="display:block;">
            <ul>
                <li id="show-thread-list">
                    <a>{{ 'im.show.thread_list'|trans }}</a>
                </li>
                <li id="show-opened-threads" style="display: none;">
                    <a>{{ 'im.opened.threads'|trans }}</a>
                </li>
                <li id="im-menu-actions" style="display: none;">
                    <a>{{ 'im.actions'|trans }}</a>
                    <ul>
                        <li id="add-user-action">
                            <a>{{ 'conference.add.user'|trans }}</a>
                        </li>
                        <li id="kick-user-action">
                            <a>{{ 'conference.kick.user'|trans }}</a>
                        </li>
                        <li id="new-topic-action">
                            <a>{{ 'conference.new_topic'|trans }}</a>
                        </li>
                        <li id="leave-conference-action">
                            <a>{{ 'conference.leave'|trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <div>
                <div id="add-user-wrapper" style="display:none;">
                    <input id="add-user-list" class="extended-select"/>
                    <input type="button" class="btn btn-blue btn-small inline-block" id="add-user-apply" value="{{ 'im.add.user.name'|trans }}"/>
                    <span class='ui-icon ui-icon-close inline-block' role='presentation' id="add-user-cancel">{{ 'im.add.user.cancel'|trans }}</span>
                </div>
                <div id="kick-user-wrapper" class="vdolgah_wrapper" style="display:none;">
                    <input id="kick-user-list" class="extended-select"/>
                    <input type="button" class="btn btn-blue btn-small inline-block" id="kick-user-apply" value="{{ 'im.kick.user.name'|trans }}"/>
                    <span class='ui-icon ui-icon-close inline-block' role='presentation' id="kick-user-cancel">{{ 'im.kick.user.cancel'|trans }}</span>
                </div>
                <div id="new-topic-wrapper" class="vdolgah_wrapper" style="display:none;">
                    <input id="new-topic-field"/>
                    <input type="button" class="btn btn-blue btn-small inline-block" id="new-topic-apply" value="{{ 'im.new_topic.apply'|trans }}" />
                    <span class='ui-icon ui-icon-close inline-block' role='presentation' id="new-topic-cancel">{{ 'im.new_topic.cancel'|trans }}</span>
                </div>
                <div id="thread-list-wrapper" class="vdolgah_wrapper">
                    <h1>{{ 'threads.name'|trans }}</h1>
                    <input type="button" class="btn btn-blue btn-small" id="compose-post" value="{{ 'threads.compose.submit'|trans }}"/>
                    <div id="thread-list">
                    </div>
                </div>
                <div id="thread-tabs" class="horizontal-menu" style="display: none;">
                    <ul id="tabs-list" style="z-index: 99;">
                        <!--<li><a>opened thread 1</a></li>-->
                    </ul>
                </div>
                <div id="posts-wrapper" class="vdolgah_wrapper" style="display:none;">
                    <div id="posts">
                    </div>
                    <div id="post-form" class="markItUp markdown" style="margin-top: 4px;">
                        <textarea id="post-text"></textarea>
                        <div id="custom-recipient" style="display: none;">
                            <label for="recipient">{{ 'im.recipient'|trans}}</label>
                            <input id="recipient" class="extended-select"/>
                        </div>
                        <div id="conference-topic-div" style="display: none;">
                            <label for="conference-topic">{{ 'conference.topic'|trans }}</label>
                            <input type="text" id="conference-topic"/>
                        </div>
                        <input type="button" class="btn btn-blue" id="send" value="{{ 'im.send'|trans }}"/>
                        <div style="margin: 10px 0 10px 0; display: block;" >
                            <div  id="add_file">{{ 'im.add_file'|trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dialog-leave-conference-confirm" style="width:700px;" title="{{ 'im.leave.conference.confirm.title'|trans}}"
             yes="{{ 'im.leave.conference.confirm.yes'|trans }}"
             no="{{ 'im.leave.conference.confirm.no'|trans }}">
            <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
                {{ 'im.leave.conference.confirm.text'|trans }}
            </p>
        </div>
    </div>
    <script>

        $(function(){
            {% if partnerId is null or partnerName is null %}
            InitIM(null, null);
            {% else %}
            InitIM({{ partnerId }}, "{{ partnerName }}");
            {% endif %}
        })
    </script>
{% endblock %}
