{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/datepicker.js') }}"></script>
{% endblock %}
{% block right_content %}
    <div>
        {% if friendship_requests %}
            <div>
                <p>{{ 'profile.requests.count'|trans }}: {{ friendship_requests|length }}</p>
            </div>
            {% for request in friendship_requests %}
                <div>
                    {{ request.partner.firstName }} {{ request.partner.lastName }}
                    <a class="blue_button" href="{{ path('user_accept_friendship_request', {'id': request.partner.id} ) }}">{{ 'profile.requests.accept'|trans }}</a>
                    <a class="gray_button" href="{{ path('user_decline_friendship_request', {'id': request.partner.id} ) }}">{{ 'profile.requests.decline'|trans }}</a>
                </div>
            {% endfor %}
        {% else %}
            <div>
                <p>{{ 'profile.requests.empty'|trans }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
