{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    {% if is_granted('ROLE_USER') and not is_cur_user %}
        {% if is_friend %}
            <a href="{{ path('user_delete_friend', {'id': user.id}) }}">Удалить из друзей</a>
        {% else %}
            <a href="{{ path('user_add_friend', {'id': user.id}) }}">Добавить в друзья</a>
        {% endif %}
    {% endif %}
    <p>{{ 'profile.show.firstName'|trans }}: {{ user.firstName }}</p>

    <p>{{ 'profile.show.lastName'|trans }}: {{ user.lastName }}</p>

    <p>{{ 'profile.show.gender'|trans }}: {{ user.gender }}</p>

    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    <div>
        {% for friend in user.friends %}
            <div>
                {{ 'profile.show.friend'|trans }}:  <a href="{{ path('user_profile', {'id': friend.friend.id}) }}">
                    {{ friend.friend.firstName }} {{ friend.friend.lastName }}
                </a>
                {% if is_cur_user %}
                    <a href="{{ path('user_delete_friend', {'id': friend.friend.id}) }}">Удалить из друзей</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
