{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/networkweb/css/magnific-popup.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/networkweb/css/like.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/run_gallery.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/friends_requests.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/networkweb/js/like.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/networkweb/js/friends_requests.js') }}"></script>
    <script src="/js/fos_js_routes.js"></script>
    <script type="text/javascript">
        var user = {{ user.getId }};
        var relStatus = '{{ rl_status }}';
        var msgSent = '{{ 'msg.friendship_request_sent'|trans }}';
        var msgAccepted = '{{ 'msg.friendship_accepted'|trans }}';
        var msgFail = '{{ 'notify.fail'|trans }}';
        var msgUnsubscribed = '{{ 'notify.subscription_deleted'|trans }}';
        var msgFriendshipDeleted = '{{ 'msg.friendship_deleted'|trans }}';
        var msgNotAFriend = '{{ 'notify.not_a_friend'|trans }}';
    </script>
{% endblock %}

{% block right_content_sub_one %}
    <div id="avatar-box" class="white-box">
        <div>
            {% if user.avatar %}
                <p class="popup-gallery">
                    <a href="{% path user.avatar, 'big' %}"><img src="{% path user.avatar, 'small' %}"
                                                                 alt="{{ user.avatar }}"/></a>
                <div id="{{ user.avatar.getId }}_like">
                    <script>mediaLike({{user.avatar.getId}}) </script>
                </div>
                </p>
            {% else %}
                <img src="{{ asset('bundles/networkweb/img/ava.png') }}" alt="VDOLGAH"/>
            {% endif %}
        </div>
    </div>
    <div id="user-ref-btn-box">
        {% if is_granted('ROLE_USER') and not is_cur_user %}
            <div>
                <p>
                    <a class="btn btn-blue"
                       href="{{ path('user_profile_show_messages', {'partnerId':user.id} ) }}">{{ 'layout.write_message'|trans }}</a>
                    <a class="btn btn-blue" id="send_request" style="display: none"
                           href="{{ path('user_send_friendship_request', {'id':user.id} ) }}">{{ 'profile.show.send_friendship_request'|trans }}</a>
                   <a class="btn btn-default" id="delete_request" style="display: none"
                           href="{{ path('user_delete_friendship', {'id':user.id} ) }}">{{ 'profile.delete_friendship'|trans }}</a>
                    <a class="btn btn-default" id="unsubscribe" style="display: none"
                           href="{{ path('user_delete_friendship_subscribtion', {'id':user.id} ) }}">{{ 'profile.show.unsubscribe'|trans }}</a>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block right_content_sub_two %}
    {{ parent() }}
    <div id="user-contact-info">
        <div id="name-box">{{ user.firstName }} {{ user.lastName }}</div>
        {#<p>{{ 'profile.show.gender'|trans }}: {{ user.gender }}</p>#}
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        {% if user.contactInfo.skype %}
            <p>{{ 'profile.show.skype'|trans }}: {{ user.contactInfo.skype }}</p>
        {% endif %}
        {% if user.contactInfo.additionalEmail %}
            <p>{{ 'profile.show.additionalEmail'|trans }}: {{ user.contactInfo.additionalEmail }}</p>
        {% endif %}
        {% for phonenumber in user.contactInfo.phone %}
            <p>{{ 'profile.show.phonenumber'|trans }}: {{ phonenumber }}</p>
        {% endfor %}
        {% for address in user.contactInfo.address %}
            <p>{{ 'profile.show.address'|trans }}: {{ address }}</p>
        {% endfor %}
        {% if user.vkLogin %}
            <p> {{ 'link.vkontakte'|trans }}: {{ user.vkLogin }} </p>
        {% endif %}
        {% if user.githubLogin %}
            <p> {{ 'link.github'|trans }}: {{ user.githubLogin }} </p>
        {% endif %}
        {% if user.fbLogin %}
            <p> {{ 'link.facebook'|trans }}: {{ user.fbLogin }} </p>
        {% endif %}
        {% if user.googleLogin %}
            <p> {{ 'link.google'|trans }}: {{ user.googleLogin }} </p>
        {% endif %}
    </div>
    <div class="horizontal-line"></div>
    <div id="user-ref-info-box" class="white-box">
        <div>
            <a href="{{ path('user_profile_community', {'id':user.id} ) }}">
                <span>
                    {{ user_ref_info.groups }}
                </span>
                {{ 'layout.show_community'|trans }}
            </a>
        </div>
        <div class="vertical-separator-line"></div>
        <div>
            <a href="{{ path('user_show_friends', {'id':user.id} ) }}">
                <span>
                    {{ user_ref_info.friends }}
                </span>
                {{ 'layout.show_friends'|trans }}
            </a>
        </div>
        <div class="vertical-separator-line"></div>
        <div>
            <a href="{{ path('user_show_albums', {'id':user.id} ) }}">
                <span>
                    {{ user_ref_info.photos }}
                </span>
                {{ 'layout.show_albums'|trans }}
            </a>
        </div>
        <div class="vertical-separator-line"></div>
        <div>
            <a href="{{ path('audios', {'id':user.id} ) }}">
                <span>
                    {{ user_ref_info.audios }}
                </span>
                {{ 'layout.audios'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>
        <div class="vertical-separator-line"></div>
        <div>
            <a href="{{ path('videos', {'id':user.id} ) }}">
                <span>
                    {{ user_ref_info.videos }}
                </span>
                {{ 'layout.videos'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>
    </div>
    {{ render(controller('NetworkWebBundle:Wall:main', {type: 'user', object: user})) }}
{% endblock %}
