{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.firstName'|trans }}: {{ user.firstName }}</p>
    <p>{{ 'profile.show.lastName'|trans }}: {{ user.lastName }}</p>
    <p>{{ 'profile.show.gender'|trans }}: {{ user.gender }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
