{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    {% if is_granted('ROLE_USER') and not is_cur_user %}
        <p>
            {{ rl_status }}
        </p>
    {% endif %}
    <p>{{ 'profile.show.firstName'|trans }}: {{ user.firstName }}</p>

    <p>{{ 'profile.show.lastName'|trans }}: {{ user.lastName }}</p>

    <p>{{ 'profile.show.gender'|trans }}: {{ user.gender }}</p>

    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    {% if is_cur_user %}
        <div>
            <p>Отношения:</p>
            {% for relationship in user.relationships %}
                <p>{{ relationship.partner.firstName }} {{ relationship.partner.lastName }}: {{ relationship.status }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
