{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'title.add_album'|trans }}
{% endblock %}

{% block right_content %}
    <div class="white-box" id="album-form-box">
        <form class="centered-form" action="{{ path('user_add_album') }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
            <div class="submit-btn-box">
                <input class="btn btn-blue" type="submit" value="{{ 'album.add.submit'|trans }}"/>
            </div>
        </form>
    </div>
{% endblock %}
