{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/networkweb/css/magnific-popup.css') }}" type="text/css" rel="stylesheet" />
     <link href="{{ asset('bundles/networkweb/css/like.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/run_gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/networkweb/js/like.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
{% endblock %}

{% block title %}
    {{ 'title.album'|trans }}
{% endblock %}

{% block right_content %}
    <div class="white-box" id="album-box">
    {% if is_cur_user and is_user_album %}
        <div id="album-controller-box">
            <a class="btn btn-blue btn-small" href="{{ path('user_edit_album', {'albumId':album.id} ) }}">{{ 'album.edit.name'|trans }}</a>
            <a class="btn btn-green btn-small" href="{{ path('user_add_album_photo', {'albumId':album.id} ) }}">{{ 'album.add.photo.name'|trans }}</a>
        </div>
    {% endif %}
        <div id="like_post" class="like" style="display:none">
            <div>
                <div id="count" class="count"> </div> <button id="like" >{{ 'like'|trans }}</button>
            </div>
        </div>
        <p><strong>{{ album.name }}</strong></p>
        <p>{{ album.description }}</p>
        <p>{{ 'profile.show.photos'|trans }}: {{ photos|length }}</p>
        {% if photos %}
            {% for photo in photos %}
                <div class="popup-gallery photo-box">
                    <a href="{% path photo.media, 'big' %}" title="{{ photo.media.description }}">{% media photo.media, 'small' %}</a>
                    <div id="{{photo.media.getId}}_like">
                        <script>mediaLike({{photo.media.getId}}) </script>
                    </div>
                    {% if is_cur_user and is_user_album %}
                        <a class="btn btn-red btn-small" href="{{ path('user_delete_album_photo', {'albumId':album.id, 'photoId':photo.media.id}) }}">{{ 'album.delete.photo'|trans }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
