{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block right_content_sub_one %}
    <div>
        <form action="{{ path('user_edit_album', {'albumId':album.id} ) }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
            <div>
                <input class="blue_button" type="submit" value="{{ 'album.edit.submit'|trans }}" />
            </div>
        </form>
    </div>
{% endblock %}
{% block right_content_sub_two %}
    <div>
        <p><a href="{{ path('user_delete_album', {'albumId':album.id} ) }}">{{ 'album.delete'|trans }}</a></p>
    </div>
{% endblock %}
