{% extends "NetworkWebBundle:Default:auth.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block authorization %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <a class="login_authentication_button" href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</a>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<a class="login_authentication_button" href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>{% endif %}
    {% endif %}
{% endblock %}
