   <style type="text/css">
        .blue_button {
            display: inline-block;
        }
   </style>
    <script>
        answerCount = 0;
        function addAnswer(answer) {
            var answerList = $('#answer-fields-list');
            var newLi = $('<div id = "answer"></div>').html(answer);
            var linkdelete = $('<button class="btn btn-red btn-delete-answer" type="button">X</button>');
            newLi.append(linkdelete);
            $(linkdelete).click(function(e) {
                e.preventDefault();
                newLi.remove();
            });
            answerCount++;
            newLi.appendTo(answerList);
        }
        $(document).ready(function() {
            $('#add-answer').click(function(e) {
                e.preventDefault();
                var answerList = $('#answer-fields-list');
                var newWidget = answerList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, answerCount);
                addAnswer(newWidget);
            }); 
            $.fn.nullObject = function(){
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name]) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push('');
                    } else {
                        o[this.name] = '';
                    }
                });
                return o;
            };
       });
    </script>
    <div>
        <div id="poll_form" display="none">
            {{ form_start(form) }}
                <div>
                    {{ form_errors(form.question) }}
                    {{ form_label(form.question) }}
                    {{ form_widget(form.question) }}
                </div>
                <div>
                    {{ form_errors(form.isAnonymously) }}
                    {{ form_label(form.isAnonymously) }}
                    {{ form_widget(form.isAnonymously) }}
                </div>
                <div>
                    {{ form_errors(form.answers) }}
                    {{ form_errors(form) }}
                    {{ form_label(form.answers) }}
                    <div id="answer-fields-list" data-prototype="{{ form_widget(form.answers.vars.prototype.answer)|e }}">
                        {% for ans in form.answers %}
                            {{ form_errors(ans) }}
                            <script type="text/javascript">
                                 addAnswer('{{ form_widget(ans.answer) }}');
                            </script>
                        {% endfor %}
                    </div>
                    <button class="btn btn-green btn-small" type="button" id="add-answer">{{ 'poll.add.answer.submit'|trans({}, 'FOSUserBundle') }}</button>
                </div>
                {% do form.answers.setRendered %}
            {{ form_end(form) }}
        </div>
    </div>
