{% extends "NetworkWebBundle:Default:edit.base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
{% endblock %}

{% block right_content %}
    <style type="text/css">
        .blue_button {
            display: inline-block;
        }
        .bar-container div {  
             background-color:#cc4400;  
             height: 5%; 
        }  
    </style>
    <script>
        answerCount = 0;
        function addAnswer(answer) {
            var answerList = $('#answer-fields-list');
            var newLi = $('<div id = "answer"></div>').html(answer);
            var linkdelete = $('<button class="blue_button" type="button">X</button>');
            newLi.append(linkdelete);
            $(linkdelete).click(function(e) {
                e.preventDefault();
                newLi.remove();
            });
            answerCount++;
            newLi.appendTo(answerList);
        }
        $(document).ready(function() {
            $('#add-answer').click(function(e) {
                e.preventDefault();
                var answerList = $('#answer-fields-list');
                var newWidget = answerList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, answerCount);
                addAnswer(newWidget);
            }); 
       });
    </script>
    <div>
    <div id="poll_form" display="none">
        {{ form_start(form) }}
        <div>
                {{ form_errors(form.question) }}
                {{ form_label(form.question) }}
                {{ form_widget(form.question) }}
        </div>
        <div>
                {{ form_errors(form.isAnonymously) }}
                {{ form_label(form.isAnonymously) }}
                {{ form_widget(form.isAnonymously) }}
        </div>
        <div>
                {{ form_errors(form.answers) }}
                {{ form_errors(form) }}
                {{ form_label(form.answers) }}
                <div id="answer-fields-list" data-prototype="{{ form_widget(form.answers.vars.prototype.answer)|e }}">
                    {% for ans in form.answers %}
                            {{ form_errors(ans) }}
                            <script type="text/javascript">
                                 addAnswer('{{ form_widget(ans.answer) }}');
                            </script> 
                    {% endfor %}
                </div>
                <button class="blue_button"  type="button" id="add-answer">Add answer</button>
            </div>
            <div>
                <input id="submit" class="blue_button" type="submit" value="{{ 'poll.submit'|trans }}" />
            </div>
            {% do form.answers.setRendered %}
        {{ form_end(form) }}
    </div>
 </div>
{% endblock %}
