{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block right_content_sub_one %}
    <div class="white-box">
        <ul>
            <li><a href="{{ path('show_feed') }}">All</a></li>
            <li><a href="{{ path('show_friends_feed') }}">Friends</a></li>
            <li><a href="{{ path('show_communities_feed') }}">Communities</a></li>
        </ul>
    </div>

     {% for post in feed %}
        <div>
            {% if post.id is defined %}
                <p><a href="{{ path('user_profile', {'id': post.id} ) }}">{{ post.firstName }} {{ post.lastName }}</a></p>
            {% else %}
                <p><a href="{{ path('user_show_community', {'id':post.comm_id} ) }}">{{ post.comm_name }}</a></p>
            {% endif %}
            {% if post.text | length > 300 %}
                {{ post.text | slice(0, 300) }}
                <a href="{{ path('show_thread', { 'id': post.threadId }) }}"> ... </a>
            {% else %}
                <p>{{ post.text }}
            {% endif %}
            <br><br>
            <p style="font-size: x-small">
                <a href="{{ path('show_thread', { 'id': post.threadId }) }}">{{ post.ts | date('H:i:s Y-m-d') }}</a>
            </p>
            <p align="right" style="font-size: x-small" >
               <a href="{{ path('add_to_blacklist', { 'id': post.threadId }) }}"> {{ 'msg.delete_from_feed' | trans }}</a>
            </p>

        </div>
     {% endfor %}
{% endblock %}
