{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block right_content_sub_one %}
     {% for post in feed %}
        <div>
            {% if post.user is defined %}
                <p><a href="{{ path('user_profile', {'id': post.user} ) }}">{{ post.firstName }} {{ post.lastName }}</a></p>
            {% else %}
                <p><a href="{{ path('user_show_community', {'id':post.comm_id} ) }}">{{ post.comm_name }}</a></p>
            {% endif %}
            {% if post.text | length > 300 %}
                {{ post.text | slice(0, 300) }}
                <a href="{{ path('show_thread', { 'id': post.threadId }) }}"> ... </a>
            {% else %}
                <p>{{ post.text }}
            {% endif %}
            <br><br>
            <p style="font-size: x-small">
                <a href="{{ path('show_thread', { 'id': post.threadId }) }}">{{ post.ts | date('H:i:s Y-m-d') }}</a>
            </p>

        </div>
     {% endfor %}
{% endblock %}
