{% extends "NetworkWebBundle:Default:auth.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    {{ 'resetting.request.username'|trans }}
{% endblock %}
{% block authorization %}
    <form class="auth-form" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
        {% if invalid_username is defined %}
            <p class="red_label">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <input type="text" id="username" name="username" placeholder="{{ 'resetting.request.username'|trans }}" required="required" />
        <input class="btn btn-blue btn-auth-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </form>
{% endblock authorization %}
