{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/networkuser/css/profile_edit.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block right_content %}
    <div>

        <div>
            <ul class="tabs">

                <li>
                    <a href="{{ path('fos_user_profile_edit') }}">
                        {{ 'form.profile.name'|trans }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('user_edit_contact') }}">
                        {{ 'form.contact.name'|trans }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('user_jobs_profile') }}">
                        {{ 'form.job.name'|trans }}
                    </a>
                </li>

            </ul>
        </div>

        <div>
            {% block edit_content %}

            {% endblock %}
        </div>

    </div>
{% endblock %}
