{% extends "NetworkWebBundle:Default:base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/networkweb/css/profile.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div id="header_box">
        <header>
            <div id="logo">
                <a href="/"><img src="{{ asset('bundles/networkweb/img/logo.png') }}" alt="VDOLGAH" /></a>
            </div>
            {% block header %}
                {% block profile_auth %}
                    <div id="logout_box">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endblock %}
        </header>
    </div>
    <div id="content">
        <div id="left_content">
            {% block left_content %}
                <div id="main_menu">
                {% if is_granted('ROLE_USER') %}
                    <ul>
                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'layout.profile_edit'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">{{ 'layout.change_password'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_change_email') }}">{{ 'layout.change_email'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('user_profile_show_friends') }}">{{ 'layout.show_friends'|trans({}, 'FOSUserBundle') }}{% if friendship_requests_count is defined %}: {{ friendship_requests_count }}{% endif %}</a></li>
                        <li><a href="{{ path('user_profile_show_messages') }}">{{ 'layout.show_messages'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('user_profile_show_community') }}">{{ 'layout.show_community'|trans({}, 'FOSUserBundle') }}{% if community_requests_count is defined %}: {{ community_requests_count }}{% endif %}</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                {% endif %}
                </div>
            {% endblock %}
        </div>
        <div id="right_content">
            {% block right_content %}
                <div>
                    {% block right_content_sub_one %}
                        <div id="ava_block">
                            {% block ava_content %}
                                <img src="{{ asset('bundles/networkweb/img/ava.png') }}" alt="VDOLGAH" />
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
                <div>
                    {% block right_content_sub_two %}

                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
    <footer>
        {% block footer %}
            123
        {% endblock %}
    </footer>
{% endblock %}
