{% extends "NetworkWebBundle:Default:base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/networkweb/css/profile.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}"></script>

{% endblock %}
{% block body %}
    <div id="header_box">
        <header>
            <div id="logo">
                <a href="/"><img src="{{ asset('bundles/networkweb/img/logo.png') }}" alt="VDOLGAH" /></a>
            </div>
            {% block header %}
                {% block profile_auth %}
                    <div id="logout_box">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endblock %}
        </header>
    </div>
    <div id="content">
        <div id="left_content">
            {% block left_content %}
                <div id="main_menu">
                {% if is_granted('ROLE_USER') %}
                    <ul>
                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('user_profile_show_friends') }}">{{ 'layout.show_friends'|trans({}, 'FOSUserBundle') }}{% if friendship_requests_count is defined %}: {{ friendship_requests_count }}{% endif %}</a></li>
                        <li><a href="{{ path('show_feed') }}">{{ 'layout.feed'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('user_profile_show_community') }}">{{ 'layout.show_community'|trans({}, 'FOSUserBundle') }}{% if community_requests_count is defined %}: {{ community_requests_count }}{% endif %}</a></li>
                        <li id="message_li">
                            <a href="{{ path('user_profile_show_messages') }}">
                                {{ 'layout.show_messages'|trans({}, 'FOSUserBundle') }}
                                <span id="msg-unread-count" style="display: none" class="notif-count">
                                </span>
                            </a>
                        </li>
                        <li><a href="{{ path('audios') }}">{{ 'layout.audios'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('videos') }}">{{ 'layout.videos'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('user_profile_show_albums') }}">{{ 'layout.show_albums'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'layout.profile_edit'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('show_links') }}">{{ 'layout.links'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                {% endif %}
                </div>
            {% endblock %}
        </div>
        <div id="right_content">
            {% block right_content %}
                <div id="user-info-box">
                    {% block right_content_sub_one %}
                    {% endblock %}
                </div>
                <div id="wall-box">
                    {% block right_content_sub_two %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
    <footer>
        {% block footer %}
            <div id="locale_box">
                <a href="{{ path('change_locale', {'_locale':'en'}) }}">en</a>
                <a href="{{ path('change_locale', {'_locale':'ru'}) }}">ru</a>
            </div>
           <div>® vdolgah.org</div>
        {% endblock %}
    </footer>
{% endblock %}
