{% extends "NetworkWebBundle:Default:edit.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/datepicker.js') }}"></script>
{% endblock %}

{% block edit_content %}

            <p> {{ 'link.vkontakte'|trans }}:
                {% if user.vkLogin %}
                    {{ user.vkLogin }}
                    <a href="{{ url("remove_link", {service: "vkontakte"}) }}"> {{ 'profile.edit.link.remove.vkontakte'|trans }} </a>
                {% else %}
                    <a href="{{ url("hwi_oauth_service_redirect", {service: "vkontakte"}) }}"> {{ 'profile.edit.link.add.github'|trans }} </a>
                {% endif %}
            </p>
            <p> {{ 'link.github'|trans }}:
                {% if user.githubLogin %}
                    {{ user.githubLogin }}
                    <a href="{{ url("remove_link", {service: "github"}) }}"> {{ 'profile.edit.link.remove.github'|trans }} </a>
                {% else %}
                    <a href="{{ url("hwi_oauth_service_redirect", {service: "github"}) }}"> {{ 'profile.edit.link.add.github'|trans }} </a>
                {% endif %}
            </p>
            <p> {{ 'link.facebook'|trans }}:
                {% if user.fbLogin %}
                    {{ user.fbLogin }}
                    <a href="{{ url("remove_link", {service: "facebook"}) }}"> {{ 'profile.edit.link.remove.facebook'|trans }} </a>
                {% else %}
                    <a href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"> {{ 'profile.edit.link.add.facebook'|trans }} </a>
                {% endif %}
            </p>
            <p> {{ 'link.google'|trans }}:
                {% if user.googleLogin %}
                    {{ user.googleLogin }}
                    <a href="{{ url("remove_link", {service: "google"}) }}"> {{ 'profile.edit.link.remove.google'|trans }} </a>
                {% else %}
                    <a href="{{ url("hwi_oauth_service_redirect", {service: "google"}) }}"> {{ 'profile.edit.link.add.google'|trans }} </a>
                {% endif %}
            </p>

            <p> {{ 'Steam'|trans }}:
                {% if identity %}
                    <a href="{{ url("remove_link", {service: "steam"}) }}"> {{ 'steam'|trans }} </a>
                {% else %}
                    {% for provider in valid_openid_providers %}
                        <a class="button authentication" href="{{ path("fp_openid_security_check", {'openid_identifier': provider.url}) }}">{{ provider.name }}</a>
                    {% endfor %}
                {% endif %}
            </p>

{% endblock %}

