{% extends "NetworkWebBundle:Default:auth.base.html.twig" %}
{% block authorization %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a class="link btn-block gray" href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</a>
        <a class="link btn-block gray" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
    {% else %}
        {{ parent() }}
        <a class="btn btn-blue btn-auth-block" href="{{ path('fos_user_registration_register')  }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        <a class="btn btn-blue btn-auth-block" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
{% endblock %}
