{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/networkweb/css/video.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}
    {{ 'video.edit.name'|trans }}
{% endblock %}

{% block right_content_sub_one %}
    <div class="white-box" id="video_box">
        <form class="centered-form" action="{{ path('edit_video', {'id': video.id}) }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
            <div class="submit-btn-box">
                <input class="btn btn-blue" type="submit" value="{{'video.edit.submit'|trans }}" />
            </div>
        </form>
    </div>
{% endblock %}
