{% extends "NetworkWebBundle:Default:profile.base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/networkweb/css/community.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/networkweb/js/datepicker.js') }}"></script>
{% endblock %}

{% block title %}
    {{ 'community.search'|trans }}
{% endblock %}

{% block right_content %}
    <div class="white-box" id="community-box">
        <div>
            <form class="centered-form">
            <input name="search" value="{{search}}">
            <button class="btn btn-blue btn-small" type="submit">{{ 'community.search'|trans }}</button>
            </form>
        </div>
    {% if community %}
        <div>
            {% for comm in community %}
                <p>
                    <a href="{{ path('user_show_community', {'id':comm.id} ) }}">{{ comm.name }} </a>
                </p>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}
