{% extends 'NetworkWebBundle:Default:profile.base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}"></script>

    {% javascripts '@NetworkWebBundle/Resources/public/js/lib/jplayer/jquery.jplayer.js'
    '@NetworkWebBundle/Resources/public/js/lib/jquery.form.js'
    '@NetworkWebBundle/Resources/public/js/lib/jquery.uploadfile.js'
    '@NetworkWebBundle/Resources/public/js/lib/react.js'
    '@NetworkWebBundle/Resources/public/js/lib/JSXTransformer.js'
    '@NetworkWebBundle/Resources/public/js/bluebird.js'
    '@NetworkWebBundle/Resources/public/js/lib/invariant.js'
    '@NetworkWebBundle/Resources/public/js/lib/Dispatcher.js'
    '@NetworkWebBundle/Resources/public/js/lib/EventEmitter.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/jsx" src="{{ asset('bundles/networkweb/js/audio_menu.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/networkweb/js/audio_search.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/networkweb/js/audio_playlist.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/networkweb/js/audio_player.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/networkweb/js/audio.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/networkweb/css/jplayer/jplayer.blue.monday.css') }}"
          type="text/css"
          rel="stylesheet" />

    <link href="{{ asset('bundles/networkweb/css/uploadfile.css') }}"
          type="text/css"
          rel="stylesheet">

    <link href="{{ asset('bundles/networkweb/css/audio-player.css') }}"
          type="text/css"
          rel="stylesheet">

{% endblock %}

{% block header %}

    {{ parent() }}
{% endblock %}

{% block right_content %}
    <div id="this_user_id" data="{{ thisUserId }}" style="display: none;"></div>
    <div id="wanted_user_id" data="{{ wantedUserId }}" style="display: none;"></div>
    <div id="close"></div>

    <div id="jp_container_1" class="jp-audio" role="application">
        <div class="jp-type-playlist">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="jp-gui">
                <div class="jp-interface">
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                    <div class="jp-controls-holder">
                        <div class="jp-controls">
                            <button class="jp-play" role="button" tabindex="0">play</button>
                            <button class="jp-pause" role="button" tabindex="0">pause</button>
                        </div>
                        <div class="jp-volume-controls">
                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
        </div>
    </div>


    <div id="audio_wrap"></div>

    <div id="edit-dialog" title="Edit information" style="display: none">
        <form>
            <div>
                <label for="title_input">Title: </label>
                <input type="text" id="title_input">
            </div>

            <div>
                <label for="artist_input">Artist: </label>
                <input type="text" id="artist_input">
            </div>
        </form>
    </div>

    <div class="modal" id="modal-upload" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-header">
          <h2>Upload Audio Files</h2>
          <a href="#close" class="btn-close" aria-hidden="true">×</a>
        </div>
        <div class="modal-body">
          <div id="audio_file_upload"></div>
        </div>
        <div class="modal-footer">
          <a href="#close" class="btn">Done</a>
        </div>
        </div>
      </div>
    </div>

{% endblock %}
