{% extends 'NetworkWebBundle:Default:profile.base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}"></script>

    {% javascripts '@NetworkWebBundle/Resources/public/js/lib/jplayer/jquery.jplayer.js'
    '@NetworkWebBundle/Resources/public/js/lib/jplayer/jplayer.playlist.js'
    '@NetworkWebBundle/Resources/public/js/lib/jquery.form.js'
    '@NetworkWebBundle/Resources/public/js/lib/jquery.uploadfile.js'
    '@NetworkWebBundle/Resources/public/js/lib/react.js'
    '@NetworkWebBundle/Resources/public/js/lib/JSXTransformer.js'
    '@NetworkWebBundle/Resources/public/js/bluebird.js'
    '@NetworkWebBundle/Resources/public/js/audio.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/jsx" src="{{ asset('bundles/networkweb/js/audio_menu.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/networkweb/css/jplayer/jplayer.blue.monday.css') }}"
          type="text/css"
          rel="stylesheet" />

    <link href="{{ asset('bundles/networkweb/css/uploadfile.css') }}"
          type="text/css"
          rel="stylesheet">

{% endblock %}

{% block right_content %}

    <div id="edit-dialog" title="Edit information" style="display: none">
        <form>
            <div>
                <label for="title_input">Title: </label>
                <input type="text" id="title_input">
            </div>

            <div>
                <label for="artist_input">Artist: </label>
                <input type="text" id="artist_input">
            </div>
        </form>
    </div>

    <div id="jp_container_1" class="jp-video jp-video-270p" role="application" aria-label="media player">
        <div class="jp-type-playlist">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="jp-gui">
                <div class="jp-video-play">
                    <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                </div>
                <div class="jp-interface">
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                    <div class="jp-controls-holder">
                        <div class="jp-controls">
                            <button class="jp-previous" role="button" tabindex="0">previous</button>
                            <button class="jp-play" role="button" tabindex="0">play</button>
                            <button class="jp-next" role="button" tabindex="0">next</button>
                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                        </div>
                        <div class="jp-volume-controls">
                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value"></div>
                            </div>
                        </div>
                        <div class="jp-toggles">
                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                            <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
                            <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                        </div>
                    </div>
                    <div class="jp-details">
                        <div class="jp-title" aria-label="title">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="jp-playlist">
                <div class="jp-search-container">
                    <label for="search_input">Search</label>
                    <input type="text" class="jp-search-what" id="search_input">
                    <select class="jp-search-by">
                        <option value="title">by title</option>
                        <option value="artist">by artist</option>
                    </select>
                </div>
                <ul class="jp-tracks-container">
                    <li>&nbsp;</li>
                </ul>
                <div class="jp-found-tracks">
                    <span class="jp-found-tracks-title"></span>
                    <ul class="jp-found-tracks-container">
                        <li>&nbsp;</li>
                    </ul>
                </div>

            </div>
            <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
        </div>
    </div>

{#     <div id="playlists" style="float: right;">
        <div>
            <span><button>playlist name</button></span>
            <span><button>REMOVE</button></span>
        </div>
        <div><button>ADD</button></div>
    </div> #}

    <div id="audio_menu"></div>

    <div id="audio_file_upload"></div>
{% endblock %}
