{% set type = object.getTypeForJsonRoute %}

{% block javascripts %}
    <script type="text/javascript">
        var objectType = "{{ type }}";
        var objectId = {{ object.id }};
        var userId = {{ app.user.getId }};
    </script>

    <script src="{{ asset('bundles/networkweb/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/networkweb/js/wall_poster.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/networkweb/css/wall.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

<div id="wall">
    <div>
        <div>
            <form>
                <label for="msg_input">What's new?</label>
                <input type="text" id="msg_input">
                <button id="tell_btn">Tell!</button>
                <button id="show_my_btn">Only my</button>
            </form>
        </div>

        <div id="posts">
            {% for thread in wall | reverse | slice(0, patchSize) %}
                {% set post = thread.getPosts[0] %}

                <div class="post{% if post.getUser.getId == app.user.getId %} my{% endif %}" id="thread_{{ thread.getId }}">
                    <div class="username">
                        <a href="{{ path('user_profile', {id: post.getUser.getId}) }}">
                            {{ [post.getUser.getFirstName, post.getUser.getLastName]|join(' ') }}
                        </a>
                    </div>

                    <div class="timestamp">
                        {{ post.getTs|date('h:m:s d.m.Y') }}
                    </div>

                    <div class="controls">
                        {% if post.getUser.getId == app.user.getId %}
                            <a href="{{ post.getId }}" class="edit_control">Edit</a>
                        {% endif %}

                        {%
                            if (post.getUser.getId == app.user.getId)
                                or (object == app.user)
                                or (type == 'club' and object.getOwner.getId == app.user.getId)
                        %}
                            <a href="{{ post.getId }}" class="delete_control">Delete</a>
                        {% endif %}
                    </div>

                    <div class="msg">
                        {{ post.getText }}
                    </div>

                    {% set commentsCount = thread.getPosts|length - 1%}
                    {% if commentsCount > 0 %}
                        <div class="comments">
                            {% for comment in thread.getPosts|slice(1, commentsCount) %}
                                <div class="comment">
                                    <div class="username">
                                        <a href="{{ path('user_profile', {id: comment.getUser.getId}) }}">
                                            {{ [comment.getUser.getFirstName, comment.getUser.getLastName]|join(' ') }}
                                        </a>
                                    </div>

                                    <div class="timestamp">
                                        {{ comment.getTs|date('h:m:s d.m.Y') }}
                                    </div>

                                    <div class="controls">
                                        {%
                                            if (comment.getUser.getId == app.user.getId)
                                                or (object == app.user)
                                                or (type == 'club' and object.getOwner.getId == app.user.getId)
                                        %}
                                            <a href="{{ comment.getId }}" class="delete_control">Delete</a>
                                        {% endif %}
                                    </div>

                                    <div class="msg">
                                        {{ comment.getText }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="to_comment">
                        <form>
                            <textarea class="comment_text">

                            </textarea>

                            <button class="comment_btn" id="comment_{{ thread.getId }}">
                                Comment!
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
