{% set type = object.getTypeForJsonRoute %}
{% trans_default_domain 'FOSUserBundle' %}
{% block javascripts %}
    <script type="text/javascript">
        var objectType = "{{ type }}";
        var objectId = {{ object.id }};
        var userId = {{ app.user.getId }};
    </script>

    <script src="{{ asset('bundles/networkweb/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/networkweb/js/wall_poster.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/networkweb/css/wall.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

<div id="wall">
    <div>
        <div class="white-box" id="add-new-post-box">
            <form id='form' method="post">
                <button id="show_my_btn">{{ 'wall.only_my'|trans }}</button>
                <input placeholder="{{ 'wall.question'|trans }}" type="text" id="msg_input">
                <div>
                    <button id="create_poll">{{ 'poll.create'|trans }}</button>
                    <button class="btn btn-blue" id="tell_btn">{{ 'wall.say'|trans }}</button>
                </div>
            </form>
            <div id="poll_form" class="form_poll">
                {{ render(controller('NetworkWebBundle:Poll:create')) }}
            </div>
        </div>
        <div id="like_post" class="like" style="display:none">
            <div>
                <button id="like" >{{ 'like'|trans }}</button><div id="count" class="count"> </div>
            </div>
        </div>
        <div id="posts">
            {% for thread in wall | reverse | slice(0, patchSize) %}
                {% set post = thread.getPosts[0] %}

                <div class="white-box post{% if post.getUser.getId == app.user.getId %} my{% endif %}" id="thread_{{ thread.getId }}">
                    <div class="username">
                        <a href="{{ path('user_profile', {id: post.getUser.getId}) }}">
                            {{ [post.getUser.getFirstName, post.getUser.getLastName]|join(' ') }}
                        </a>
                    </div>

                    <div class="timestamp">
                        <a href="{{ path('show_thread', { 'id': thread.getId }) }}">{{ post.ts | date('H:i:s Y-m-d') }}</a>
                    </div>

                    <div class="controls">
                        {% if post.getUser.getId == app.user.getId %}
                            <a href="{{ post.getId }}" class="edit_control">{{ 'wall.edit'|trans }}</a>
                        {% endif %}

                        {%
                            if (post.getUser.getId == app.user.getId)
                                or (object == app.user)
                                or (type == 'club' and object.getOwner.getId == app.user.getId)
                        %}
                            <a href="{{ post.getId }}" class="delete_control">{{ 'wall.delete'|trans }}</a>
                        {% endif %}
                    </div>

                    <div class="msg">
                        <div>{{ post.getText }}</div>
                        {% if post.getType == 'poll'%}
                            <script> getPoll(JSON.stringify({
                                        postId: {{post.getId}}}))</script>
                        {% endif %}

                    </div>
                    <div class="like" id="{{post.getId}}_like">
                        <script>postLike({{post.getId}}) </script>
                    </div>

                    {% set commentsCount = thread.getPosts|length - 1%}
                    {% if commentsCount > 0 %}
                        <div class="comments">
                            {% for comment in thread.getPosts|slice(1, commentsCount) %}
                                <div class="comment">
                                    <div class="username">
                                        <a href="{{ path('user_profile', {id: comment.getUser.getId}) }}">
                                            {{ [comment.getUser.getFirstName, comment.getUser.getLastName]|join(' ') }}
                                        </a>
                                    </div>

                                    <div class="timestamp">
                                        {{ comment.getTs|date('h:m:s d.m.Y') }}
                                    </div>

                                    <div class="controls">
                                        {%
                                            if (comment.getUser.getId == app.user.getId)
                                                or (object == app.user)
                                                or (type == 'club' and object.getOwner.getId == app.user.getId)
                                        %}
                                            <a href="{{ comment.getId }}" class="delete_control">{{ 'wall.delete'|trans }}</a>
                                        {% endif %}
                                    </div>

                                    <div class="msg">
                                        {{ comment.getText }}
                                    </div>
                                    <div id="{{comment.getId}}_like">
                                        <script>postLike({{comment.getId}}) </script>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="to_comment">
                        <form>
                            <textarea class="comment_text"> </textarea>
                            <button deleteBtnName="{{ 'wall.delete'|trans }}" editBtnName="{{ 'wall.edit'|trans }}" value="{{ 'wall.comment.submit'|trans }}" class="btn btn-blue btn-small comment_btn" id="comment_{{ thread.getId }}">
                                {{ 'wall.comment.submit'|trans }}
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="poll_post" style="display:none">
    </div>
</div>
